@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary-color: #178dab;
  --primary-color-hover: #178dabc4;
}

.text-primary-color{
  color: var(--primary-color);
}

.bg-primary-color{
  background: var(--primary-color);
}

.bg-primary-color:hover{
  background: var(--primary-color-hover);
}

.main-img{
  max-width: 500px;
}
